body{
    background-color: $background;
}

table{
    &.table{
        thead{
            th{
                color: $color-title;
                background: $background-tabs;
            }
        }
        tbody{
            tr{
                td{
                    color: $color-title;
                }

                &.selected{
                    background-color: $background-selected;
                }
            }
        }
    }

    &.table-striped{
        tbody{
            tr{
                background-color: $background-dark;
                &:nth-child(odd){
                    background-color: $background;
                }

                &.selected{
                    background-color: $background-selected;
                }
            }
        }
    }
}

@each $i, $color in $colors {
    &.text-#{$i}{
        color: #{$color};
    }
}

.btn{
    &.btn-none{
        background-color: transparent;
        padding: 2px 5px;
    }
}

#alert-list-popup{
    position: absolute;
    bottom: 40px;
    right: 10px;
    display: block;
    width: 350px;
    background-color: $background-tabs;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    color: #ffffff;
}

