.toolbar{
    background-color: $background-toolbar;
    padding: 5px 3px;
    display: flex;
    position: relative;

    .btn{
        &.btn-tool{
            margin: 0 2px;
            background-color: transparent;
            color: $color-title;
            padding: 3px 5px;

            &:hover{
                background-color: $btn-tool-hover;
            }

            @each $i, $color in $colors {
                &.#{$i}{
                    color: #{$color};
                }
            }
           
        }
    }

    .separator{
        width: 1px;
        display: block;
        background-color: $separator-color;
        margin: 0 2px;
    }

}