$background: #2d2d30;
$background-toolbar: #333333;
$background-tabs: #2c2c2c;
$background-title: #383838;
$background-dark: #1e1e1e;
$background-selected: #003c5a;


$color-title: #e4e6e8;


// Toolbar

$separator-color: rgba(255,255,255, 0.2);
$btn-tool-hover: rgba(255,255,255, 0.1); 


// Principal color
$colors: (
"white": #ffffff,
"green": #43A047, 
"dark-green": #1B5E20, 
"blue": #00B0FF, 
"dark-blue": #1565C0, 
"red": #D32F2F, 
"dark-red": #B71C1C,
"yellow": #FFFF00,
"orrange": #EF6C00,
"pink": #D81B60);

